.App {
  align-items: center;
  align-content: center;
  width:100%;

}
@media(min-width: 576px){
  .App{
    max-width: 540px;
  }
}

@media(min-width: 768px){
  .App{
    max-width: 720px
  }
}

.button{
  align-items: center;
  text-align: center;
}
input{
  min-width:100px;
  max-width: 500px;
  text-align : '-webkit-center'
}
.captcha{
  margin: 1vh 1vh 1vh 1vh;
}
.header{
  text-align: center;
  margin: 1vh 1vh 1vh 1vh;
}
.label{
  text-align: left;
  margin: 1vh 1vh 1vh 1vh;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
